<!DOCTYPE html>
<html>
<head>
    <title>Tusavirus outbreak in Colombia</title>
</head>
<body>
	<hr>
	<div>
    <h1>Report</h1>
	<p>
	There is a Tusavirus outbreak in Colombia. A national emergency has been declared by the
	government. The government has requested each governor to report the number of victims in
	their jurisdiction on a virtual platform.
	While panicking, governors could send the requested information in inconsistent formats.
	Some could send digits, or use their smartphone’s speech-to-text, while others will send data
	in the wrong format because of the sense of urgency.
	</p>
	<hr>
        <form method="post", action="">
			{% for state in states %}
			<b>{{ state }}</b>
			<input type="text" name={{ state }}>
			<br>
			{% endfor %}
			<input type="submit", value="Calculate">
        </form>
    </div>
</body>
</html>
